# SISTEMA DE RECOMENDAÇÃO DE LIVROS
Fonte do dataset: https://www.kaggle.com/datasets/zygmunt/goodbooks-10k

In [1]:
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

In [2]:
livros_df = pd.read_csv("books.csv")
livros_df.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [3]:
livros_df = livros_df[["id", "original_title", "ratings_count"]]
livros_df.head()

   id                            original_title  ratings_count
0   1                          The Hunger Games        4780653
1   2  Harry Potter and the Philosopher's Stone        4602479
2   3                                  Twilight        3866839
3   4                     To Kill a Mockingbird        3198671
4   5                          The Great Gatsby        2683664

In [4]:
livros_df = livros_df.rename(columns={"id": "ID_LIVRO", "original_title":"TITULO_LIVRO", "ratings_count": "QTD_AVALIACOES"})
livros_df.head()

   ID_LIVRO                              TITULO_LIVRO  QTD_AVALIACOES
0         1                          The Hunger Games         4780653
1         2  Harry Potter and the Philosopher's Stone         4602479
2         3                                  Twilight         3866839
3         4                     To Kill a Mockingbird         3198671
4         5                          The Great Gatsby         2683664

In [5]:
livros_df.shape

(10000, 3)

In [6]:
livros_df = livros_df[livros_df["QTD_AVALIACOES"] > 999]
livros_df.shape

(10000, 3)

In [7]:
livros_df.isna().sum()

ID_LIVRO            0
TITULO_LIVRO      585
QTD_AVALIACOES      0
dtype: int64

In [8]:
livros_df = livros_df.dropna()

In [9]:
livros_df.isna().sum()

ID_LIVRO          0
TITULO_LIVRO      0
QTD_AVALIACOES    0
dtype: int64

In [10]:
avaliacoes_df = pd.read_csv("ratings.csv")
avaliacoes_df.head()

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

In [11]:
avaliacoes_df = avaliacoes_df.rename(columns={"book_id": "ID_LIVRO", "user_id": "ID_USUARIO", "rating": "AVALIACAO"})
avaliacoes_df.head()

   ID_LIVRO  ID_USUARIO  AVALIACAO
0         1         314          5
1         1         439          3
2         1         588          5
3         1        1169          4
4         1        1185          4

In [12]:
avaliacoes_df.shape

(981756, 3)

In [13]:
avaliacoes_df.isna().sum()

ID_LIVRO      0
ID_USUARIO    0
AVALIACAO     0
dtype: int64

In [14]:
avaliacoes_df["ID_USUARIO"].value_counts()

ID_USUARIO
12874    200
30944    200
28158    199
52036    199
12381    199
        ...
47248      2
48186      2
17867      2
11638      2
43877      2
Name: count, Length: 53424, dtype: int64

In [15]:
qtd_avaliacoes = avaliacoes_df["ID_USUARIO"].value_counts() > 99
x = qtd_avaliacoes[qtd_avaliacoes].index
x.shape

(1199,)

In [16]:
avaliacoes_df.shape

(981756, 3)

In [17]:
avaliacoes_df = avaliacoes_df[avaliacoes_df["ID_USUARIO"].isin(x)]
avaliacoes_df.shape

(165905, 3)

In [18]:
livros_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9415 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_LIVRO        9415 non-null   int64
 1   TITULO_LIVRO    9415 non-null   object
 2   QTD_AVALIACOES  9415 non-null   int64
dtypes: int64(2), object(1)
memory usage: 294.2+ KB

In [19]:
avaliacoes_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 165905 entries, 0 to 981737
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ID_LIVRO    165905 non-null  int64
 1   ID_USUARIO  165905 non-null  int64
 2   AVALIACAO   165905 non-null  int64
dtypes: int64(3)
memory usage: 5.1 MB

In [20]:
livros_avaliacoes_df = avaliacoes_df.merge(livros_df, on="ID_LIVRO")
livros_avaliacoes_df.head()

   ID_LIVRO  ID_USUARIO  AVALIACAO      TITULO_LIVRO  QTD_AVALIACOES
0         1         314          5  The Hunger Games         4780653
1         1         439          3  The Hunger Games         4780653
2         1         588          5  The Hunger Games         4780653
3         1        1169          4  The Hunger Games         4780653
4         1        1185          4  The Hunger Games         4780653

In [21]:
livros_avaliacoes_df.shape

(161857, 5)

In [22]:
livros_avaliacoes_df = livros_avaliacoes_df.drop_duplicates(["ID_USUARIO", "ID_LIVRO"])
livros_avaliacoes_df.shape

(161626, 5)

In [23]:
livros_pivot = livros_avaliacoes_df.pivot_table(columns="ID_USUARIO", index="TITULO_LIVRO", values="AVALIACAO")
livros_pivot.head()

ID_USUARIO,35,173,178,274,314,368,439,588,589,725,...,52929,52956,52965,52994,53145,53173,53245,53292,53293,53366
TITULO_LIVRO,,,,,,,,,,,,,,,,,,,,,
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Monster Calls,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Animal Farm & 1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
"Burned (Burned, #1)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Call the midwife : a true story of the East End in the 1950s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
livros_pivot = livros_pivot.fillna(0)
livros_pivot.head()

ID_USUARIO,35,173,178,274,314,368,439,588,589,725,...,52929,52956,52965,52994,53145,53173,53245,53292,53293,53366
TITULO_LIVRO,,,,,,,,,,,,,,,,,,,,,
,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Monster Calls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Animal Farm & 1984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
"Burned (Burned, #1)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Call the midwife : a true story of the East End in the 1950s,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
livros_sparse = csr_matrix(livros_pivot)
type(livros_sparse)

scipy.sparse._csr.csr_matrix

In [26]:
modelo = NearestNeighbors(algorithm="brute", metric="cosine")
modelo.fit(livros_sparse)

NearestNeighbors(algorithm='brute', metric='cosine')

In [28]:
titulo_livro = "The Hunger Games"
try:
    index = livros_pivot.index.get_loc(titulo_livro)
except KeyError:
    print("Livro não encontrado na base de dados!")
    index = None
    
if index is not None:
    distances, suggestions = modelo.kneighbors(livros_pivot.values[index].reshape(1, -1))
    print(f"Recomendações para {titulo_livro}:")
    for i in suggestions[0]:
        print(livros_pivot.index[i])

Recomendações para The Hunger Games:
The Hunger Games
Catching Fire
The Help
Harry Potter and the Philosopher's Stone
Mockingjay